@keyframes fadeIn {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(-720deg);
    }
}

.announcement {
    display: block;
    width: 150px;
    height: 150px;
    background-color: blue;
    
    animation-name: fadeIn;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}